<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
    <div style="padding: 21px;">
    <form method="post">
        <p>Range of a (<input type="text" name="a_min" id="range_input" value="2"> to <input type="text" name="a_max" id="range_input" value="100">)</p>
        <p>Range of b (<input type="text" name="b_min" id="range_input" value="2"> to <input type="text" name="b_max" id="range_input" value="100">)</p>
            <dl style="display: inline-block;">
            <dt>
                <label>
                <input checked="" name="add" type="checkbox">
                <div style="display: inline-block;">$$a+b$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input checked="" name="subtract" type="checkbox">
                <div style="display: inline-block;">$$a-b$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input checked="" name="multiply" type="checkbox">
                <div style="display: inline-block;">$$a\times b$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input checked="" name="divide" type="checkbox">
                <div style="display: inline-block;">$$a\div b$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input name="average" type="checkbox">
                <div style="display: inline-block;">$$\dfrac{a+b}{2}$$</div>
                </label>
            </dt>
            </dl>
            <dl style="display: inline-block; margin-left: 36px";">
                
            <dt>
                <label>
                <input name="exponent" type="checkbox">
                <div style="display: inline-block;">$$a^b$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input name="pythagorean" type="checkbox">
                <div style="display: inline-block;">$$\sqrt{a^2+b^2}$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input name="floor division" type="checkbox">
                <div style="display: inline-block;">$$\left\lfloor\dfrac{a}{b}\right\rfloor$$</div>
                </label>
            </dt>
            <dt>
                <label>
                <input name="mod" type="checkbox">
                <div style="display: inline-block;">$$a\bmod b$$</div>
                </label>
            </dt>
            </dl>
            <!-- the rest goes here -->
            <p>
            Duration:
            <select name="duration">
                <option value="30">30 seconds</option>
                <option value="60">60 seconds</option>
                <option selected="" value="120">120 seconds</option>
                <option value="300">300 seconds</option>
                <option value="600">600 seconds</option>
            </select>
            </p>
            <input type="submit" value="Start">
        </form>
        </div>
</body>