<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script>
    // range is inclusive
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    let add = (a, b) => a+b;
    let subtract = (a, b) => a-b;
    let multiply = (a, b) => a*b;
    let divide = (a, b) => a/b;
    let factorize = (number, b_min, b_max) => [...Array(number + 1).keys()].filter(i=>number % i === 0 && b_min<=i<=b_max && i!=number && i!=1);

    var a_min, a_max, b_min, b_max, duration, modes;
    const sign_map= {
        "+":add,
        "-":subtract,
        "×":multiply,
        "÷":divide
    };
    function load_data(data){
        a_min=data["a_min"];
        a_max=data["a_max"];
        b_min=data["b_min"];
        b_max=data["b_max"];
        duration=parseInt(data["duration"]);
        modes=[];

        if (data["add"]=="on"){
            modes.push("+");
        }
        if(data["subtract"]=="on"){
            modes.push("-");
        }
        if(data["multiply"]=="on"){
            modes.push("×");
        }
        if(data["divide"]=="on"){
            modes.push("÷");
        }
    }

    var a, b, answer, score=0;
    function generate_question(){
        a=0;
        b=0;
        while(a==b){
            a=getRandomInt(a_min, a_max);
            b=getRandomInt(b_min, b_max);
        }
        if(a<b){
            //swap the values
            b=[a, a = b][0];
        }
        var sign=modes[Math.floor(modes.length * Math.random())];
        if(sign=="÷"){
            // ensure divisibility
            var factors=[]
            while(factors.length==0){
                a=getRandomInt(a_min, a_max)
                factors=factorize(a, b_min, b_max);
            }
            b=factors[getRandomInt(0, factors.length-1)];
        }
        answer=sign_map[sign](a, b);
        question_text.innerHTML=a+" "+sign+" "+b+" = ";
    }

    function update_timer() {
        if(duration==0){
            document.body.innerHTML="<h1 class='main'>Score: "+score+"</h1>";
        }
        duration--;
        timer_text.innerHTML="Seconds left: "+duration;
    }

</script>
<script>
    var timer_text, score_text, question_text;
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("answer").addEventListener("focusout", (event) => {document.getElementById("answer").focus()});
        score_text=document.getElementById("score");
        timer_text=document.getElementById("timer");
        question_text=document.getElementById("question");
        generate_question();
        timer_text.innerHTML="Seconds left: "+duration;
    });
</script>
<script>
    load_data({{data|tojson}});
</script>
</head>

<body>
    <div>
        <span class="left" id="timer"></span>
        <span class="score" id="score">Score: 0</span>
        <div class="main">
            <div class="inline">
                <span id="question" class="question">bruh select a mode </span>
                <input id="answer" class="answer" autofocus>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("answer").addEventListener('input', function (evt) {
            if(parseInt(this.value)==answer){
                if(score==0){
                    //after the first input
                    setInterval( function() { update_timer(); }, 1000);
                }
                score+=1;
                score_text.innerHTML="Score: "+score;
                generate_question();
                this.value="";
            }
        });
    </script>
</body>